@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Open+Sans:wght@300;400;700&display=swap");
/* variables */
/*---- navbar
-------------*/
.navbar {
  padding-left: 2.5vw;
  padding-right: 5vw;
  /*margin-right:2.5vw;*/
  padding-top: 2vw;
  background-color: white !important; }
  .navbar .navbar-brand .logo-img {
    background-size: 100% 100%;
    width: 10.8vw;
    height: 2.5vw; }
  .navbar .navbar-collapse .nav-item {
    margin-left: 5.25vw; }
    .navbar .navbar-collapse .nav-item .nav-link {
      color: #262EF6 !important;
      font-size: 1.3vw !important;
      font-family: 'Open Sans', sans-serif !important;
      font-weight: bold !important; }

/*---- section1
-------------*/
.section1-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin-left: 6.5vw;
  margin-top: 11vw; }
  .section1-1 .w-60 {
    width: 60vw; }
    .section1-1 .w-60 .pg-0 {
      font-size: 3.5vw;
      font-family: 'Nunito', sans-serif;
      margin-top: 5vh;
      color: #F5553E; }
    .section1-1 .w-60 .pg-1 {
      font-size: 3.5vw;
      font-family: 'Nunito', sans-serif;
      margin-top: 2vh;
      color: #F5553E; }
    .section1-1 .w-60 .pg-2 {
      font-size: 1.7vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #262EF6;
      margin-top: 2vh; }
    .section1-1 .w-60 .btn-1 {
      width: 27.5vw;
      height: 3.5vw;
      border-radius: 4vw;
      padding-left: 2vw;
      font-family: 'Open Sans', sans-serif;
      color: #4E4E4E !important;
      margin-top: 3vh !important; }
    .section1-1 .w-60 .btn-2 {
      width: 15vw;
      margin-left: -7vw !important;
      height: 3.5vw;
      border-radius: 4vw;
      padding-left: 2vw;
      font-family: 'Open Sans', sans-serif;
      color: white !important;
      font-weight: bold !important;
      background-color: #262EF6;
      margin-top: 3vh !important; }
    .section1-1 .w-60 .section-ver {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start; }
      .section1-1 .w-60 .section-ver .sc {
        background-size: 100% 100%;
        width: 5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 3vw; }

.section1-img {
  background-image: url("../image/img3.png");
  background-size: 100% 100%;
  margin-right: 0;
  width: 40vw;
  height: 50vw; }

.section1-2 {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -18vh; }
  .section1-2 .pg-1 {
    font-size: 3.5vw;
    font-family: 'Nunito', sans-serif;
    margin-top: 2vh;
    color: #F5553E; }

@media (max-width: 1100px) {
  .section1-2 {
    margin-top: 0vh !important; } }
/*---- section2
-------------*/
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-right: 15vw;
  margin-left: 15vw;
  /* global fel prt1 , prt2 , prt3*/ }
  .section2 .prt1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section2 .prt2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11vw; }
  .section2 .prt3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 11vw; }
  .section2 .sg1 {
    background-size: 100% 100%;
    width: 8vw;
    height: 9vw; }

/*---- section3
-------------*/
.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4F6F8;
  margin-top: 6vw; }
  .section3 .pg-1 {
    font-size: 3.5vw;
    font-family: 'Nunito', sans-serif;
    margin-top: 2vh;
    color: #F5553E; }
  .section3 .section3-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; }
    .section3 .section3-2 a {
      padding: 0px !important;
      margin: 0px !important; }
      .section3 .section3-2 a .sc2 {
        background-size: 100% 100%;
        width: 10vw;
        height: 5vw;
        margin-top: 6vh;
        margin-left: 6.5vw; }
      .section3 .section3-2 a .sc3 {
        background-size: 100% 100%;
        width: 10vw;
        height: 5vw;
        margin-left: 8vw;
        margin-top: 6vh; }

/*---- section4
-------------------*/
.section4 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .section4 .w-50 {
    width: 50vw;
    padding-left: 6.5vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .section4 .w-50 .sc4 {
      width: 40vw;
      height: 24vw; }
  .section4 .w-50-2 {
    width: 50vw;
    padding-right: 6.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .section4 .w-50-2 .pg-4 {
      font-size: 2.5vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #012739;
      margin-top: 2vh; }
    .section4 .w-50-2 .pg-5 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #FEA433 !important;
      margin-top: 2vh; }
    .section4 .w-50-2 .pg-6 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #393939 !important;
      margin-top: 2vh; }

/*---- section5
-------------------*/
.section5 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F4F6F8; }
  .section5 .w2-50 {
    width: 50vw;
    padding-left: 6.5vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%; }
    .section5 .w2-50 .pg-7 {
      font-size: 2.5vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #012739;
      margin-top: 2vh; }
    .section5 .w2-50 .pg-8 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #25D985 !important;
      margin-top: 2vh; }
    .section5 .w2-50 .pg-9 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: color-4 !important;
      margin-top: 2vh; }
  .section5 .w2-50-2 {
    width: 50vw;
    padding-right: 6.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .section5 .w2-50-2 .sc5 {
      width: 40vw;
      height: 24vw; }

/*---- section6
-------------------*/
.section6 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .section6 .w-50 {
    width: 50vw;
    padding-left: 6.5vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .section6 .w-50 .sc4 {
      width: 40vw;
      height: 24vw; }
  .section6 .w-50-2 {
    width: 50vw;
    padding-right: 6.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .section6 .w-50-2 .pg-10 {
      font-size: 2.5vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #012739;
      margin-top: 2vh; }
    .section6 .w-50-2 .pg-11 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: #0F9AE9 !important;
      margin-top: 2vh; }
    .section6 .w-50-2 .pg-12 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: color-4 !important;
      margin-top: 2vh; }

/*---- section7
-------------------*/
.section7 {
  width: 100vw;
  height: 68vw;
  background-color: #F4F6F8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* global fel section7-2 w section7-1 */ }
  .section7 .section7-2 {
    width: 100vw;
    background-color: #F4F6F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6vw;
    /* global fel w3-50 w3-50-2 */
    /* global fel w3-50 w3-50-2 */ }
    .section7 .section7-2 .w3-50 {
      width: 26vw;
      height: 29.5vw;
      background-color: #FFFFFF;
      border-radius: 1.8vw;
      box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.16);
      margin-top: 6vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 3;
      margin-left: -18vw; }
      .section7 .section7-2 .w3-50 .pg-15 {
        font-size: 1.5vw;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold !important;
        color: #42579F !important;
        margin-top: 1vw;
        margin-left: 2vw; }
      .section7 .section7-2 .w3-50 .pg-13 {
        font-size: 2vw;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold !important;
        color: #2B2B2B;
        margin-top: 2vw; }
    .section7 .section7-2 .w3-50-2 {
      width: 26vw;
      height: 29.5vw;
      background-color: #FFFFFF;
      border-radius: 1.8vw;
      box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.16);
      margin-top: 6vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      z-index: 1; }
      .section7 .section7-2 .w3-50-2 .pg-14 {
        font-size: 1.5vw;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold !important;
        color: #DA3E27 !important;
        margin-top: 1vw;
        margin-left: 2vw; }
    .section7 .section7-2 .pg-13-center {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .section7 .section7-2 .pg-13-center .btn-3 {
        margin-top: 2vw;
        width: 11.75vw;
        height: 3.3vw;
        border-radius: 4vw;
        background-color: #262EF6;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color: white !important; }
    .section7 .section7-2 .pg-13-right {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;
      padding-right: 2vw; }
  .section7 .pg-13 {
    font-size: 2.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold !important;
    color: #2B2B2B;
    margin-top: 1vw; }
  .section7 .sc6 {
    width: 42vw;
    height: 31vw;
    z-index: 2;
    margin-left: -62vw;
    margin-top: -8vw; }

@media (max-width: 1040px) {
  .btn-3 {
    font-size: 9px; } }
@media (max-width: 850px) {
  .btn-3 {
    font-size: 7px;
    width: 75%; } }
/*---- footer
-------------------*/
.footer1 {
  width: 100vw;
  height: 43vw;
  /*44.5*/
  background-image: url("../image/footer2.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .footer1 .mg-pg-16 {
    margin-bottom: 6vw;
    margin-left: 8.6vw; }
    .footer1 .mg-pg-16 .pg-16 {
      font-size: 1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold !important;
      color: white !important; }
    .footer1 .mg-pg-16 .btn-4 {
      width: 29vw;
      background-color: transparent;
      border-width: 0px 0px 2px 0px;
      border-color: #F4F6F8; }

/* global *******/
.pg-3 {
  font-size: 1.2vw;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold !important;
  color: #4E4E4E !important; }

/* pg-3 = paragrafe style 3  */
@media (max-width: 900px) {
  .btn-2, .btn-1 {
    font-size: 9px; } }
@media (max-width: 600px) {
  .btn-2, .btn-1 {
    font-size: 7px; } }
@media (max-width: 400px) {
  .btn-2, .btn-1 {
    font-size: 6px; } }
.t-center {
  text-align: center; }

html {
  overflow-x: hidden; }

/* global ******/

/*# sourceMappingURL=style_index.css.map */
