@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Open+Sans:wght@300;400;700&display=swap');
/* variables */
$color-1:#262EF6;
$color-2:#F5553E;
$color-3:#F4F6F8;
$color-4:#393939;
/*---- navbar
-------------*/

.navbar{
    padding-left:2.5vw;
    padding-right:5vw;
    /*margin-right:2.5vw;*/
    padding-top:2vw;
    background-color: white !important;
    .navbar-brand{
      .logo-img{
    
        background-size: 100% 100%;
        width:10.8vw;
        height:2.5vw;
      }
    }
    .navbar-collapse{
      .nav-item{
        margin-left: 5.25vw;
        .nav-link{
          color:$color-1 !important;
          font-size : 1.3vw !important;
          font-family: 'Open Sans', sans-serif !important;
          font-weight : bold !important;
        }
      }
    }
}


/*---- section1
-------------*/
.section1-1{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:start;
  margin-left: 6.5vw;
  margin-top: 11vw;
  .w-60{
    width:60vw;
    .pg-0{
      font-size:3.5vw;
      font-family: 'Nunito', sans-serif;
      margin-top: 5vh;
      color:$color-2;
    }
    .pg-1{
      font-size:3.5vw;
      font-family: 'Nunito', sans-serif;
      margin-top: 2vh;
      color:$color-2;
    }
    .pg-2{
      font-size:1.7vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:$color-1;
      margin-top: 2vh;
    }
    .btn-1{
      width:27.5vw;
      height:3.5vw;
      border-radius:4vw;
      padding-left:2vw;
      font-family: 'Open Sans', sans-serif;
      color:#4E4E4E !important;
      margin-top: 3vh !important;
    }
    .btn-2{
      width:15vw;
      margin-left: -7vw !important;
      height:3.5vw;
      border-radius:4vw;
      padding-left:2vw;
      font-family: 'Open Sans', sans-serif;
      color:white !important;
      font-weight : bold !important;
      background-color: $color-1;
      margin-top: 3vh !important;
    }
    .section-ver{
      display:flex;
      flex-direction:row;
      justify-content:start;
      align-items:start;
      .sc{
        background-size: 100% 100% ;
        width:5vw;
        height:5vh;
        margin-left:1vw;
        margin-top:3vw;
      }
    }
  }
 
}
.section1-img{
  background-image: url('../image/img3.png');
  background-size: 100% 100%;
  margin-right: 0;
  width:40vw ;
  height:50vw ;
}

.section1-2{
  width:100vw;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin-top:-18vh;
  .pg-1{
    font-size:3.5vw;
    font-family: 'Nunito', sans-serif;
    margin-top: 2vh;
    color:$color-2;
  }
}

@media (max-width:1100px)
{ 
  .section1-2{
    margin-top:0vh !important;
  }
}

/*---- section2
-------------*/
.section2{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin-top:10vh;
  margin-right: 15vw;
  margin-left:15vw;
  .prt1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  .prt2{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:11vw;
  }
  .prt3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-left:11vw;
  }
  .sg1{  
    background-size: 100% 100% ;
    width:8vw;
    height: 9vw;
  } /* global fel prt1 , prt2 , prt3*/
}




/*---- section3
-------------*/
.section3{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background-color: $color-3;
  margin-top:6vw;
  .pg-1{
    font-size:3.5vw;
    font-family: 'Nunito', sans-serif;
    margin-top: 2vh;
    color:$color-2;
  }
  .section3-2{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:flex-start;
    a{
      padding:0px !important;
      margin:0px !important ;
      .sc2{
        background-size: 100% 100% ;
        width:10vw;
        height:5vw;
        margin-top:6vh;
        margin-left: 6.5vw;
      }
      .sc3{
        background-size: 100% 100% ;
        width:10vw;
        height:5vw;
        margin-left:8vw;
        margin-top:6vh;
      }
    }
  }
}

/*---- section4
-------------------*/
.section4{
  width:100vw;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  .w-50{
    width: 50vw;
    padding-left: 6.5vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    .sc4{
      width:40vw;
      height:24vw;
    }
  }
  .w-50-2{
    width: 50vw;
    padding-right: 6.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    .pg-4{
      font-size:2.5vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:#012739;
      margin-top: 2vh;
    }
    .pg-5{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:#FEA433 !important;
      margin-top: 2vh;
    }
    .pg-6{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:$color-4 !important;
      margin-top: 2vh;
    }
  }
}

/*---- section5
-------------------*/
.section5{
  width:100vw;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background-color:$color-3;
  .w2-50{
    width: 50vw;
    padding-left: 6.5vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    height:100%;
    .pg-7{
      font-size:2.5vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:#012739;
      margin-top: 2vh;
    }
    .pg-8{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:#25D985 !important;
      margin-top: 2vh;
    }
    .pg-9{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:color-4 !important;
      margin-top: 2vh;
    }
  }
  .w2-50-2{
    width: 50vw;
    padding-right: 6.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    .sc5{
      width:40vw;
      height:24vw;
    }
  }
}

/*---- section6
-------------------*/
.section6{
  width:100vw;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  .w-50{
    width: 50vw;
    padding-left: 6.5vw;
    padding-top: 4vw;
    padding-bottom: 5vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    .sc4{
      width:40vw;
      height:24vw;
    }
  }
  .w-50-2{
    width: 50vw;
    padding-right: 6.5vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    .pg-10{
      font-size:2.5vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:#012739;
      margin-top: 2vh;
    }
    .pg-11{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:#0F9AE9 !important;
      margin-top: 2vh;
    }
    .pg-12{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:color-4 !important;
      margin-top: 2vh;
    }
  }
}

/*---- section7
-------------------*/
.section7{
  width:100vw;
  height:68vw;
  background-color: $color-3;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  .section7-2{
    width:100vw;
    background-color: $color-3;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin-top: 6vw;
    .w3-50{
      width: 26vw;
      height: 29.5vw;
      background-color: #FFFFFF;
      border-radius: 1.8vw;
      box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.16);
      margin-top:6vw;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
      z-index: 3;
      margin-left:-18vw;
      .pg-15{
        font-size:1.5vw;
        font-family: 'Open Sans', sans-serif;
        font-weight : bold !important;
        color:#42579F !important;
        margin-top: 1vw;
        margin-left: 2vw;
      }
      .pg-13{
        font-size:2vw;
        font-family: 'Open Sans', sans-serif;
        font-weight : bold !important;
        color:#2B2B2B;
        margin-top: 2vw;
      }
    }
    .w3-50-2{
      width: 26vw;
      height: 29.5vw;
      background-color: #FFFFFF;
      border-radius: 1.8vw;
      box-shadow: 4px 4px 0px 4px rgba(0, 0, 0, 0.16);
      margin-top:6vw;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      align-items:flex-start;
      z-index: 1;
      .pg-14{
        font-size:1.5vw;
        font-family: 'Open Sans', sans-serif;
        font-weight : bold !important;
        color:#DA3E27 !important;
        margin-top: 1vw;
        margin-left: 2vw;
      }
    }
    .pg-13-center{
      width:100%;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
      text-align:center;
      .btn-3{
        margin-top:2vw;
        width:11.75vw;
        height: 3.3vw;
        border-radius:4vw;
        background-color: $color-1;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        color:white !important;
      }
    } /* global fel w3-50 w3-50-2 */
    .pg-13-right{
      width:100%;
      display:flex;
      flex-direction:column;
      justify-content:flex-end;
      align-items:flex-end;
      text-align:right;
      padding-right: 2vw;
    }/* global fel w3-50 w3-50-2 */
  }
  .pg-13{
    font-size:2.5vw;
    font-family: 'Open Sans', sans-serif;
    font-weight : bold !important;
    color:#2B2B2B;
    margin-top: 1vw;
  } /* global fel section7-2 w section7-1 */

  .sc6{
    width:42vw;
    height:31vw;
    z-index: 2;
    margin-left:-62vw;
    margin-top:-8vw;
  }
}

@media (max-width:1040px){
  .btn-3{
   font-size:9px ;
  }
}

@media (max-width:850px){
  .btn-3{
    font-size:7px ;
    width:75%
  }
}

/*---- footer
-------------------*/
.footer1{
  width:100vw;
  height:43vw;/*44.5*/
  background-image: url("../image/footer2.png");
  background-size: 100% 100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:flex-start;
  .mg-pg-16{
    margin-bottom:6vw;
    margin-left:8.6vw;
    .pg-16{
      font-size:1.2vw;
      font-family: 'Open Sans', sans-serif;
      font-weight : bold !important;
      color:white !important;
    }
    .btn-4{
      width:29vw;
      background-color: transparent;
      border-width:0px 0px 2px 0px ;
      border-color: $color-3;
    }
  }
}

/* global *******/
.pg-3{
  font-size:1.2vw;
  font-family: 'Open Sans', sans-serif;
  font-weight : bold !important;
  color:#4E4E4E !important;
} /* pg-3 = paragrafe style 3  */ 


@media (max-width:900px){
  .btn-2,.btn-1{
    font-size:9px;
  }
}
@media (max-width:600px){
  .btn-2,.btn-1{
    font-size:7px;
  }
}
@media (max-width:400px){
  .btn-2,.btn-1{
    font-size:6px;
  }
}
.t-center{
  text-align:center;
}
html{
  overflow-x: hidden;
}
/* global ******/